<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <header>
            <h1></h1>
        </header>
        <form action="" method="post">
            <input type="email" name="EMAIL" id=""><label for="EMAIL">correo electronico</label>
            <input type="password" name="PASSWORD" id=""><label for="PASSWORD">contraseña</label>

            <input type="checkbox" name="" id=""><label for="">Mantener la sesion iniciada</label>
            <button type="submit">Ingresar</button>
        </form>
        <a href="">Olvide mi contraseña</a>
        <p>No tienes cuenta? <a href=""> Registrate</a></p>
    </body>
</html>